@mixin endpoint-input {
  font-family: 'raleway';
  font-size: 1.4rem;
  background-color: $color-gray;
  border: 1px solid rgba($color-gray-dark, 0.6);
  padding: 1rem 0.5rem;

  &:hover {
    background-color: rgba($color-gray, 0.6);
  }

  &:focus {
    outline: none;
    background-color: white;
  }
}
