//colors
$color-orange: #ef5b25;
$color-dark: #343a40;
$color-blue: #007bff;
$color-white: #f4f4f4;
$color-gray: #e9ecef;
$color-gray-light: #f8f9fa;
$color-gray-dark: #ced4da;

$default-radius: 0.4rem;
